html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Proxima Nova Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto ;
}

ul {
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
}
