@import "./vars";

@media (max-width: 1280px) {
  .business__lines {
    justify-content: center;
  }
  .mission__inner {
    margin: 0 auto;
  }
  .mission__inner-title {
    font-size: 50px;
  }
  .mission__inner-description {
    line-height: 35px;
    font-size: 25px;
  }
  .gallery {
    .swiper-pagination-bullet {
      width: var(
        --swiper-pagination-bullet-width,
        var(--swiper-pagination-bullet-size, 100px)
      );
    }
  }
  .gallery__swiper-slide__image,
  .gallery__inner {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .map__inner-tabs {
    display: block;
  }
  .map__inner-tabs__fold {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .header__inner {
    display: block;
  }
  .header__inner-list {
    margin-top: 16px;
  }
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .business__lines-image {
    width: 100%;
  }
  .about__title {
    font-size: 24px;
    line-height: 24px;
  }
  .numbers__list-info,
  .numbers__list-personal {
    text-align: center;
    font-size: 65px;
    line-height: 49px;
  }
  .business__title {
    font-size: 40px;
    line-height: 40px;
  }
  .benefits__servis {
    display: grid;
  }
  .benefits__subtitle {
    font-size: 30px;
    line-height: 38px;
  }
  .gallery_title {
    line-height: 30px;
    font-size: 30px;
  }
  .map__inner-tabs__area {
    padding-bottom: 0;
  }
  .benefits__title {
    font-size: 40px;
  }
  .banner__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) {
  .header__inner-list__link + .header__inner-list__link {
    margin-left: 0;
  }
  .header__inner-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__inner-list__link {
    &:nth-child(2n) {
      margin-right: 10px;
    }
  }
  .numbers {
    width: 100%;
  }
  .gallery {
    padding: 0 0 100px;
  }
  .numbers__list {
    justify-content: space-between;
  }
  .numbers__list-info {
    & + & {
      margin-left: 130px;
    }
    span {
      text-align: center;
    }
  }
}
@media (max-width: 750px) {
  .gallery__inner-box {
    display: none;
  }
  .gallery {
    .swiper-pagination-bullet {
      display: none;
    }
  }
  .about {
    padding: 0;
    margin-bottom: 80px;
  }
  .banner__image {
    padding: 90px 50px;
    margin-bottom: 80px;
  }
  .numbers,
  .map,
  .mission,
  .business {
    margin-bottom: 80px;
  }
  .benefits {
    padding: 0;
  }
  .map {
    overflow-y: auto;
  }
  .about__title {
    font-size: 16px;
    line-height: 18px;
  }
  .numbers__list {
    justify-content: center;
  }
  .numbers__list-info {
    width: 50%;
    span {
      font-size: 13px;
      line-height: 22px;
    }
  }
  .numbers__list-info {
    & + & {
      margin-left: 0;
    }
  }
  .header__inner-list__link {
    font-size: 15px;
    line-height: 22px;
  }
  .benefits__servis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .map__inner-scope__map-img {
    max-width: 1190px;
  }
  .business__lines {
    display: none;
  }

  .business__linesad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .business__lines-imagead {
    position: relative;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 60px;
    margin: 0 5px 10px;

    &.active {
      height: 240px;
      .business__lines-contentad {
        display: none;
      }
      .business__lines-linead {
        height: 260px;
      }
      .business__lines-imagead {
        height: 260px;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url("../images/content/businessarrow.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        top: 27px;
        right: 17px;
        width: 22px;
        height: 13px;
        transform: rotate(180deg);
        cursor: pointer;
      }
     
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/content/businessarrow.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      top: 27px;
      right: 17px;
      width: 22px;
      height: 13px;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
  .business__lines-contentad {
    position: absolute;
    padding: 18px 20px;
    background-color: rgba(45, 54, 83, 0.6);
    color: #fff;
    width: 100%;
    bottom: 0px;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    @include f600;
  }
  .business__lines-linead {
    position: absolute;
    padding: 0px;
    background-color: rgba(45, 54, 83, 0.6);
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    top: 0px;
  }
  .business__lines-titlead {
    font-size: 24px;
    line-height: 24px;
    @include f600;
    color: #fff;
    margin: 28px 20px 20px;
  }
  .business__lines-textad {
    max-width: 480px;
    width: 100%;
    font-size: 17px;
    line-height: 23px;
    color: #fff;
    margin-left: 20px;
  }
}
@media (max-width: 590px) {
  .banner__title,
  .mission__inner-title,
  .business__title,
  .benefits__title,
  .benefits__subtitle,
  .gallery_title {
    font-size: 24px;
    line-height: 24px;
  }
  .numbers__list-info {
    font-size: 40px;
    line-height: 80%;
    margin-bottom: 40px;
  }
  .benefits__servis-packet {
    max-width: 120px;
  }
  .benefits__servis-text {
    font-size: 15px;
    line-height: 22px;
  }
  .mission__inner-description {
    line-height: 25px;
    font-size: 16px;
  }
  .numbers,
  .map,
  .mission,
  .business,
  .about {
    margin-bottom: 50px;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mission__image {
    height: 186px;
  }
  .mission__inner {
    padding: 0;
    padding-top: 32px;
  }

  .mission__inner-title {
    margin-bottom: 10px;
  }
  .benefits__servis {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__inner-list__link {
    line-height: 15px;
  }
  .header__inner {
    padding: 30px 33px;
  }
  .banner__image {
    padding: 30px 25px;
  }
  .about__title {
    font-size: 12px;
    line-height: 14px;
  }
  .business__lines-contentad {
    font-size: 17px;
  }
  .business__lines-contentad {
    font-size: 14px;
    line-height: 15px;
    padding: 23px 20px;
    &.bus{
      padding: 15px 32px 15px 20px;
    }
  }
  .business__lines-titlead{
    font-size: 17px;
    line-height: 20px;
  margin: 28px 0 20px;
  }
  .business__lines-textad {
    font-size: 14px;
    line-height: 18px;
    margin-left: 0px;
}
.business__lines-linead{
  padding: 0 10px;
}
}

@media (max-width: 385px) {
  .benefits__servis {
    padding: 0;
  }
  .header__inner {
    padding: 30px 5px;
  }
  .header__inner-list__link {
    font-size: 13px;
  }
}
