@import "./vars";
@import "./fonts";
@import "./global";

// header start
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    &-list {
      display: flex;
      &__link {
        cursor: pointer;
        @include f600;
        & + & {
          margin-left: 20px;
        }
      }
    }
  }
}

// header end

// banner start
.banner {
  max-width: 1250px;
  object-fit: cover;
  &__image {
    background-image: url(../images/banner.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 158px 70px;
    margin-bottom: 100px;
  }
  &__title {
    font-size: 56px;
    line-height: 56px;
    @include f600;
    max-width: 850px;
    width: 100%;
    margin-bottom: 60px;
  }
  &__btn {
    max-width: 116px;
    width: 100%;
    padding: 18px 28px;
    text-align: center;
    background-color: #b01736;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
  }
}

// banner end

//about start
.about {
  max-width: 1130px;
  width: 100%;
  padding: 99px 110px;
  margin-bottom: 100px;
  &__title {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    span {
      color: #b01736;
    }
  }
}

//about end

//numbers start
.numbers {
  max-width: 889px;
  margin-bottom: 20px;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-info {
      max-width: 260px;
      font-size: 80px;
      line-height: 64px;
      color: #a30c33;
      @include f600;
      text-align: end;
      margin-bottom: 80px;
      span {
        font-size: 18px;
        line-height: 27px;
        display: block;
        @include f400;
      }
    }
  }
}

//numbers end
//map start
.map {
  padding: 0 30px;
  margin-bottom: 100px;
  &__inner {
    &-tabs {
      display: flex;
      justify-content: space-between;
      padding: 28px 40px;
      margin-bottom: 90px;
      transition: all 0.35s;
      position: relative;
      &__fold {
        max-width: 147px;
        font-size: 24px;
        line-height: 24px;
        position: relative;
        @include f600;
        &::after {
          content: "";
          position: absolute;
          cursor: pointer;
          width: 20px;
          height: 14px;
          background-image: url(../images//content/map-arrow.svg);
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 20px;
          right: -28px;
          top: 6px;
          transition: all 0.35s;
        }
        &.active::after {
          transform: rotate(180deg);
        }
      }

      &__list {
        display: flex;
        justify-content: space-between;
        transition: all 0.5s;
        &.opacity {
          opacity: 0.1;
          transition: all 0.5s;
        }
      }
      &__area {
        @include f600;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        padding-bottom: 28px;
        border-bottom: 3px solid transparent;
        & + & {
          margin-left: 30px;
        }
        &.active {
          border-bottom: 3px solid #a30c33;
          color: #a30c33;
          transition: all 0.5s ease-in-out;
        }
      }
      &__items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        top: 70px;
        background-color: #fff;
        z-index: 2;

        transition: all 0.5s;
      }
      &__item {
        @include f600;
      }
      &__city {
        @include f400;
        margin-top: 10px;
      }
    }
    &-scope__map-img {
      max-width: 1190px;
      transition: all 0.5s ease-in-out;
      &.opacity {
        opacity: 0.3;
        transition: all 0.5s;
      }
    }
  }
}

//map end
//mission start
.mission {
  text-align: center;
  margin-bottom: 100px;
  &__image {
    background-image: url(../images/mission.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__inner {
    max-width: 1110px;
    margin-left: 68px;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
    &-title {
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      color: #fff;
      margin-bottom: 40px;
      @include f600;
    }
    &-description {
      line-height: 48px;
      font-size: 32px;
      color: #fff;
      text-align: center;
    }
  }
}

//mission end
//business start
.bgi1 {
  background-image: url("../images/business/business1.jpg");
}
.bgi2 {
  background-image: url("../images/business/business2.jpg");
}
.bgi3 {
  background-image: url("../images/business/business3.jpg");
}
.bgi4 {
  background-image: url("../images/business/business4.jpg");
}
.bgi5 {
  background-image: url("../images/business/business5.jpg");
}
.bgi6 {
  background-image: url("../images/business/business6.jpg");
}

.business {
  margin-bottom: 100px;
  &__title {
    line-height: 56px;
    font-size: 56px;
    text-align: center;
    @include f600;
    margin-bottom: 55px;
  }
  &__lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    &-image {
      position: relative;
      background-repeat: no-repeat;
      display: block;
      background-position: center;
      background-size: contain;
      max-width: 615px;
      width: 100%;
      height: 265px;

      &:hover {
        .business__lines-content {
          display: none;
        }
        .business__lines-line {
          height: 260px;
        }
      }
    }
    &-content {
      position: absolute;
      padding: 28px 20px;
      background-color: rgba(45, 54, 83, 0.6);
      color: #fff;
      width: 100%;
      bottom: 4px;
      cursor: pointer;
      font-size: 24px;
      line-height: 24px;
      @include f600;
    }
    &-line {
      position: absolute;
      padding: 0px;
      background-color: rgba(45, 54, 83, 0.6);
      height: 0px;
      width: 100%;
      overflow: hidden;
      transition: all 0.5s;
      bottom: 4px;
    }
    &-title {
      font-size: 24px;
      line-height: 24px;
      @include f600;
      color: #fff;
      margin: 28px 20px 20px;
    }
    &-text {
      max-width: 480px;
      width: 100%;
      font-size: 17px;
      line-height: 23px;
      color: #fff;
      margin-left: 20px;
    }
  }
}

//business end
//benefits start

.benefits {
  padding-top: 80px;
  padding-left: 76px;
  &__title {
    text-align: center;
    font-size: 56px;
    line-height: 100%;
    margin-bottom: 50px;
    @include f600;
  }
  &__servis {
    max-width: 958px;
    width: 100%;
    padding: 31px 34px 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 80px;
    &-packet {
      max-width: 178px;
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 40px;
    line-height: 48px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 755px;
    width: 100%;
    text-align: center;
    @include f600;
    span {
      color: #b01736;
    }
  }
}

//benefits end
//gallery start

.gallery {
  padding: 0 70px 100px;
  &__inner {
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    &-box {
      display: flex;
      justify-content: space-between;
    }
  }
  &_title {
    line-height: 56px;
    font-size: 56px;
    @include f600;
  }
  .swiper-button-next {
    margin-left: 20px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative !important;
    width: 56px;
    height: 56px;
    background: #f0f0f0;
    border-radius: 64.2857px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    outline: none;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
    width: 0;
    height: 0;
  }

  .swiper {
    margin: 0 auto;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    object-fit: cover;
  }
  .swiper-pagination {
    position: relative;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -40px;
    max-width: 1110px;
    width: 100%;
  }
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 214px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 6px)
    );
    border-radius: 0;

    background: var(
      --swiper-pagination-bullet-inactive-color,
      rgb(0, 0, 0, 0.5)
    );
  }
  .swiper-pagination-bullet-active {
    background: var(--swiper-pagination-bullet-inactive-color, #a30c33);
  }
}

//gallery end





@import "./media.scss";